@import url(../team/__card/team__card.css);
@import url(../team/__name/team__name.css);
@import url(../team/__photo-wrap/team__photo-wrap.css);
@import url(../team/__photo/team__photo.css);
@import url(../team/__speciality/team__speciality.css);
.Team{
  width: 1100px;
  margin: 117px auto 0px;
  display: flex;
  justify-content: space-between;
}
