@import url(../team/__card/team__card.css);
@import url(../team/__name/team__name.css);
@import url(../team/__photo-wrap/team__photo-wrap.css);
@import url(../team/__photo/team__photo.css);
@import url(../team/__speciality/team__speciality.css);
.Team{
  max-width: 1100px;
  margin: 33px auto 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (min-width: 320px) and (max-width: 767px){
  .Team{
  margin: 0 auto;
  }
}
