.form__subtitle{
  max-width: 631px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin: 20px auto 19px;
  color: #44476A;
}
@media screen and (min-width: 872px) and (max-width: 910px){
  .form__subtitle{
  margin: 17px auto 18px;
  max-width: 600px;
  }
}
@media screen and (min-width: 768px) and (max-width: 871px){
  .form__subtitle{
  margin: 15px auto 16px;
  max-width: 580px;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px){
  .form__subtitle{
  max-width: 380px;
  margin: 10px auto 15px;
  }
}
@media screen and (min-width: 420px) and (max-width: 599px){
  .form__subtitle{
    max-width: 320px;
    margin: 8px auto 15px;
  }
}
@media screen and (min-width: 320px) and (max-width: 419px){
  .form__subtitle{
    font-size: 17px;
    margin: 5px auto 10px;
   max-width: 280px;
  }
}
