@import url(../numbers/__background-image/numbers__background-image.css);
@import url(../numbers/__card/number__card.css);
@import url(../numbers/__image/numbers__image.css);
@import url(../numbers/__point/numbers__point.css);
@import url(../numbers/__text/numbers__text.css);
.numbers{
  max-width: 1083px;
  width: 100%;
  height: 260px;
  margin: 117px auto 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #7C92DC;
  border-radius: 20px;
}
@media screen and (min-width:461px) and (max-width:1024px){
  .numbers{
    border-radius: 0px;
    display: flex;
    margin: 70px auto 40px;
  }
}
@media screen and (min-width:320px) and (max-width:460px){
  .numbers{
    border-radius: 0px;
    display: flex;
    margin: 60px auto 40px;
  }
}
