.header__logo{
  margin: 14px 25px 14px 25px;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 28px;
  color: #4070F4;
}
@media screen and (min-width: 495px) and (max-width: 605px){
  .header__logo{
    font-size: 25px;
    line-height: 12px;
    margin: 14px 10px 14px 5px;
  }
}
@media screen and (min-width: 395px) and (max-width: 494px){
  .header__logo{
    font-size: 45px;
    line-height: 28px;
    margin: 20px  95px;
  }
}
@media screen and (min-width: 320px) and (max-width: 394px){
  .header__logo{
    font-size: 45px;
    line-height: 28px;
    margin: 20px  95px;
  }
}
