.header{
  width: 100%;
  height: 56px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #E6E6EE;
  box-shadow: 5px 5px 10px #BECDE2, -5px -5px 10px #FFFFFF;
}
@media screen and (min-width:1320px) and (max-width:3200px){
  .header{
  justify-content: space-around;
  }
}
/*
@media screen and (min-width:868px) and (max-width: 1070px){
.header{
  max-width: 100%;
  justify-content: space-around;
}
@media screen and (min-width:768px) and (max-width:867px){
  .header{
  max-width: 700px;
  }
}
@media screen and (min-width:320px) and (max-width:767px){
  .header{
  max-width: 320px;
  }
}
}*/
