@import url(./__button/header__button.css);
@import url(./__empty/empty__button.css);
@import url(./__login-pic/header__login-pic.css);
@import url(./__logo/header__logo.css);
@import url(./__search-pic/header__search-pic.css);
@import url(./__wrap/header__wrap.css);
@import url(./b__wrap/button__wrap.css);
.header{
  max-width: 100%;
  background:  #5C78D4;;
  box-shadow: 5px 5px 10px #BECDE2;
  border-radius: 6px;
}
@media screen and (min-width: 320px) and (max-width: 768px){
  .header{
    border-radius: 0px;
  }
}
