.footer__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 100px auto 0px;
  height: 56px;
  background: #5C78D4;
  border-radius: 6px;
}
@media screen and (min-width:1320px) and (max-width:3200px){
  .footer__container{
  justify-content: space-around;
  }
}
@media screen and (min-width:320px) and (max-width: 767px){
  .footer__container{
    border-radius: 0px;
    margin: 40px auto 0px;
  }
}
