.footer__container{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 100px auto 0px;
  height: 56px;
  background: #E6E6EE;
  border-radius: 6px;
  box-shadow: -5px -5px 10px #BECDE2, 5px 5px 10px #FFFFFF;
}
@media screen and (min-width:1320px) and (max-width:3200px){
  .footer__container{
  justify-content: space-around;
  }
}
@media screen and (min-width:320px) and (max-width: 767px){
  .footer__container{
    margin: 40px auto 0px;
  }
}
