.empty__button{
  width: 320px;
  background: none;
  border: none;
}
@media screen and (min-width: 863px) and (max-width: 1200px){
  .empty__button{
    width: 160px;
  }
}
@media screen and (min-width: 733px) and (max-width: 862px){
  .empty__button{
    width: 80px;
  }
}
@media screen and (min-width: 673px) and (max-width: 732px){
  .empty__button{
    width: 20px;
  }
}
@media screen and (min-width: 495px) and (max-width: 672px){
  .empty__button{
    width:0px;
    padding: 0;
  }
}
@media screen and (min-width:320px) and (max-width:494px){
  .empty__button{
    width: 0px;
  }
}
