.form__text-area{
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 117px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #7C92DC;
  resize: none;
 }

