.form__cardinate{
  margin-top: 5px;
  margin-bottom: 0px;
}
.form__cardinate-mon-tue{
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 24px;
color: rgba(0, 0, 0, 0.85);
}
@media screen and (min-width: 320px) and (max-width: 500px){
  .form__cardinate{
    font-size: 15px;
  }
 }
 @media screen and (min-width: 320px) and (max-width: 500px){
  .form__cardinate-mon-tue{
   font-size: 8px;
  }
 }
