.header__button{
  width: 186px;
  margin-bottom: 0;
  height: 56px;
  border: 0px;
  background: none;
  font-family: 'Muli', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-decoration: none;
  color:  #FFFFFF;
}

.header__button-action{
  border-bottom: 3px solid  #7C92DC;
  background-color: #7C92DC;
}
@media screen and (min-width:783px) and (max-width: 1040px){
  .header__button{
    width: 140px;
  }
}
@media screen and (min-width: 577px) and (max-width: 782px){
  .header__button{
    width: 130px;
  }
}
@media screen and (min-width: 495px) and (max-width: 576px){
  .header__button{
    width: 120px;
    font-size: 12px;
    letter-spacing: 2.25px;
    padding: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 494px){
  .header__button{
    width: 300px;
    margin-bottom: 7px;
    background-color: #E6E6EE;
    color: #4070F4 ;
  }
  .header__button-action{
    border-bottom: 2px solid #4070F4;
  }
}
