.header__login-pic{
  width: 37px;
  height: 37px;
  margin: 8px 87px 11px 0px;
  border-radius: 75%;
}
@media screen and (min-width:768px) and (max-width:964px){
.header__login-pic{
  margin: 8px 47px 11px 0px;
}
}
@media screen and (min-width:673px) and (max-width:767px){
  .header__login-pic{
    margin: 8px 27px 11px 0px;
  }
}
@media screen and (min-width:507px) and (max-width:672px){
  .header__login-pic{
    margin: 8px 3px 11px 0px;
  }
}
@media screen and (min-width:495px) and (max-width:506px){
  .header__login-pic{
    width: 20px;
    height: 20px;
    margin: 18px 3px 18px 0px;
  }
}
@media screen and (min-width:443px) and (max-width:494px){
  .header__login-pic{
    width: 24px;
    height: 24px;
    margin: 18px 20px 102px 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 494px){
  .header__login-pic{
    width: 24px;
    height: 24px;
    margin: 20px 0px 20px 15px;
  }
}
