.card-third__background{
  width: 382px;
  height: 232px;
  margin: 17px auto;
  left: 195px;
  top: 2392px;
  background: #E6E7EE;
  box-shadow: 5px 5px 10px #BECDE2, -5px -5px 10px #FFFFFF;
  border-radius: 8.8px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px){
    .card-third__background{
    width: 320px;
    height: 280px;
    margin: auto;
    }
  }
