.history-team__card-third{
  width: 416px;
  height: 264px;
  margin: 30px 32px 20px 0px;
  grid-area: third-card;
  background: #E6E7EE;
  box-shadow: inset 5px  5px 7px #BECDE2, inset -6.22302px -6.22302px 5px #FFFFFF;
  border-radius: 8.8px;
}
