.top-menu__buttons-button{
  width: 185px;
  height: 56px;
  border: 0px;
  background: none;
  font-family: 'Muli', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  font-size: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-decoration: none;
  color:  #4070F4;
}
.top-menu__buttons-button:nth-last-child(4){
  visibility: hidden;
}
.top-menu__buttons-button:nth-last-child(5){
  visibility: hidden;
}
.top-menu__buttons-button:nth-last-child(3){
  border-bottom: 3px solid #4070F4;
  background-color: #E6E6EE;
  box-shadow: inset 5px 5px 7px #BECDE2, inset -6.22302px -6.22302px 5px #FFFFFF;;
}
