@import url(../blocks/footer/footer.css);
@import url(../blocks/top-menu/to-menu.css);
@import url(../blocks/top-menu/top-menu-cu.css);
@import url(../fonts/fonts.css);
@import url(../vendor/normalize.css);
@import url(../blocks/form/form.css);
@import url(../blocks/header/header.css);
.root{
  background-color:#FDFDFD ;
}
.href__none{
  text-decoration: none;
  color: #fff;
}
.ahref-none{
  text-decoration: none;
  color:  #4070F4;
}

button{
  outline: none;
}
