@import url(../blocks/footer/footer.css);
@import url(../blocks/top-menu/to-menu.css);
@import url(../blocks/header/header.css);
@import url(../fonts/fonts.css);
@import url(../vendor/normalize.css);
.root{
  background-color:#E6E7EE ;
}
.ahref-none{
  text-decoration: none;
  color:  #4070F4;
}

button{
  outline: none;
}
.form{
  border: 0.1px solid #E6E7EE;
  max-width: 872px;
  margin: 100px auto;
  background: #E6E7EE;
  box-shadow: 5px 5px 10px #BECDE2, -5px -5px 10px #FFFFFF;
  border-radius: 10px;

 }
 .form__title{
   font-family: Nunito Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 56px;
   line-height: 73px;
   text-align: center;
   margin: 73px auto 20px;
   color: #31344B;
 }
 .form__subtitle{
   max-width: 631px;
   font-family: Nunito Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 32px;
   text-align: center;
   margin: 20px auto 19px;
   color: #44476A;
 }
 .form__contact-container{
   max-width: 631px;
   display: flex;
   justify-content: space-between;
   margin: auto;
 }
 .form__box{
  max-width: 150px;
  text-align: center;
  margin: 0px 0px 13px 0px;
 }
 .form__background{
   width: 90px;
   height: 90px;
   margin: auto;
   background: #E6E7EE;
   box-shadow: 5px 5px 10px #BECDE2, -5px -5px 10px #FFFFFF;
   border-radius: 50px;
 }
 .form__image{
   margin: 26px auto 42px;
 }
 .form__doing{
   margin: 22px auto 9px;
   font-family: Nunito Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 26px;
   text-align: center;
   color: #31344B;
 }
 .form__cardinate{
   margin: 0;
   font-family: Nunito Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   color: #44476A;
 }
 .form__information-send{
   max-width: 645px;
   margin: 0px auto 26px;
 }

 .form__some-information{
 font-family: Nunito Sans;
 font-style: normal;
 font-weight: normal;
 margin: 0px 0px 8px 0px;
 font-size: 13px;
 line-height: 21px;
 color: #44476A;
 }
 .form__input{
 max-width: 700px;
 display: flex;
 }
 .form__left-part{
   width: 40px;
   height: 44px;
   background: #E6E7EE;
   border: 1px solid #BECDE2;
   border-radius: 10px 0px 0px 10px;
 }
 .form__insit-image{
  width: 23px;
  height: 25px;
  margin: 5px 8px 15px 9px;
 }
 .form__right-part{
   width: 600px;
   height: 44px;
   background: #E6E7EE;
   box-shadow: inset 5px 5px 7px #BECDE2, inset -6.22302px -6.22302px 5px #FFFFFF;
   border-radius: 0px 10px 10px 0px;
   border: 0px;
 }
 ::placeholder {
   padding: 6px 0px 10px 25px;
 }

 .form__area-button{
  max-width: 645px;
  margin: auto;
 }
 .form__text-area{
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 117px;
  background: #E6E7EE;
  box-shadow: inset 5px 5px 7px #BECDE2, inset -6.22302px -6.22302px 5px #FFFFFF;
  border-radius: 10px;
  border: 0px;
  resize: none;
 }
 .form__button{
  display: block;
  width: 140px;
  height: 40px;
  margin: 40px auto 91px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
  background: #E6E7EE;
  box-shadow: 5px 5px 10px #BECDE2, -5px -5px 10px #FFFFFF;
  border-radius: 10px;
  border: 0;
 }
