.header__search-pic{
  width: 24px;
  height: 24px;
  margin: 16px 16px;
}
@media screen and (min-width: 513px) and (max-width: 650px){
  .header__search-pic{
    margin: 16px 5px 16px 0px;
  }
}
@media screen and (min-width: 495px) and (max-width: 512px){
  .header__search-pic{
    width: 18px;
    height: 18px;
    margin: 19px 5px 19px 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 494px){
  .header__search-pic{
    width: 24px;
    height: 24px;
    margin: 20px 0px 20px 110px;
  }
}
