.goals__image-background{
  width: 512px;
  height: 512px;
  background-color: #E6E7EE;
  box-shadow: 5px 5px 10px #BECDE2, -5px -5px 10px #FFFFFF;
  border-radius: 6px;
  margin-right: 66px;
}
@media screen and (min-width:768px) and (max-width: 1023px){
  .goals__image-background{
    width: 400px;
    height: 400px;
    margin-right: 10px;
  }
}
@media screen and (min-width:320px) and (max-width: 767px){
  .goals__image-background {
    width: 320px;
    height: 280px;
    margin-right: 0px;
    margin: auto;
  }
}
